<template>
  <div class="add-user">
    <h1 class="title">Новый пользователь</h1>
    <div class="row">
      <div class="col-12 col-lg-4 mb-4">
        <el-input v-model="formData.name" placeholder="Имя*"></el-input>
      </div>
      <div class="col-12 col-lg-4 mb-4">
        <el-input v-model="formData.surname" placeholder="Фамилия*"></el-input>
      </div>
      <div class="col-12 col-lg-4">
        <el-button @click="addUserBtn" :disabled="!isValidForm">Добавить</el-button>
      </div>
    </div>
  </div>
</template>

<script src="./add-user.ts"></script>

<style lang="scss">

</style>
