<template functional>
  <button :disabled="props.disabled" class="btn" v-on="listeners">
    <slot></slot>
  </button>
</template>

<style lang="scss">
  .btn {
    padding: 0 10px;
    height: 36px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .btn:focus {
    outline: none;
  }
  
  .btn:active {
    outline: none;
    box-shadow: 0 0 3px #bebebe;
  }
</style>
