<template functional>
  <div class="card" :title="props.title">
    <slot></slot>
  </div>
</template>

<style lang="scss">
  .card {
    padding: 20px;
    display: block;
    color: inherit;
    text-decoration: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    height: 100%;
  }

  .card:hover .card__title {
    text-decoration: underline;
  }

  .card__title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 20px;
  }

  .card__title:not(:last-child) {
    margin-bottom: 25px;
  }

  .card__text:not(:last-child) {
    margin-bottom: 20px;
  }

  .card__date {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
</style>
