<template>
  <header class="header">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-2">
          <router-link to="/" class="header__title">App</router-link>
        </div>
        <div class="col-12 col-lg-4">
          <nav class="nav">
            <ul class="nav__list">
              <li class="nav__item">
                <router-link class="nav__link" to="/">Встречи</router-link>
              </li>
              <li class="nav__item">
                <router-link class="nav__link" to="/users">Пользователи</router-link>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-12 col-lg-6">
          <nav class="nav">
            <ul class="nav__list">
              <li class="nav__item">
                <el-button :disabled="$route.path === '/add-user'" class="nav__link" @click="$router.push('/add-user')">
                  Добавить пользователя
                </el-button>
              </li>
              <li class="nav__item">
                <el-button :disabled="$route.path === '/add-meeting'" class="nav__link"
                           @click="$router.push('/add-meeting')">Добавить встречу
                </el-button>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
</template>

<style lang="scss">
  .header {
    position: fixed;
    width: 100%;
    height: 80px;
    background: #fff;
    top: 0;
    z-index: 5;
    left: 0;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }

  .header__title {
    font-size: 30px;
    font-weight: bold;
    color: inherit;
    display: inline-block;
    text-decoration: none;
  }

  .nav__list {
    display: flex;
    align-items: center;
    padding: 0;
    list-style: none;
    margin: 0;
  }

  .nav__item:not(:last-child) {
    margin-right: 20px;
  }

  .nav__link {
    color: #000;
  }

  .nav__link:hover {
    text-decoration: none;
  }

  .nav {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
  }

  @media screen and (max-width: 992px) {
    .header__title {
      margin-bottom: 10px;
    }

    .header {
      height: 140px;
    }

    .nav {
      margin-bottom: 10px;
      justify-content: flex-start;
    }
  }
</style>
