<template>
  <div class="home">
    <h1 class="title">Встречи</h1>
    <div v-if="meetings && meetings.length" class="row home__posts">
      <div v-for="(meeting, index) in meetings" :key="index" class="col-12 col-lg-4 mb-5">
        <card :title="meeting.title">
          <template>
            <div class="card__title">{{meeting.title}}</div>
            <div class="card__text"><b>Статус: </b>{{getMeetingStatus(meeting)}}</div>
            <div class="card__text"><b>Дата: </b> {{meeting.date | date}}</div>
            <div class="card__text"><b>Период: </b>{{meeting.period.start}} - {{meeting.period.end}}</div>
            <div class="card__text"><b>Фасилитатор: </b>{{meeting.role1.name}} {{meeting.role1.surname}}</div>
            <div class="card__text"><b>Секретарь: </b>{{meeting.role2.name}} {{meeting.role2.surname}}</div>
            <div v-if="meeting.users && meeting.users.length" class="card__text">
              <b>Участники: </b>
              <span v-for="(user, index) in meeting.users" :key="index">
                {{user.name}} {{user.surname}}{{meeting.users.length > 1 && index !== meeting.users.length - 1 ? "," : ""}}
              </span>
            </div>
          </template>
        </card>
      </div>
    </div>
    <div v-else>
      <div class="empty">Встреч пока нет</div>
    </div>
    <el-button @click="$router.push('add-meeting')" class="mb-5">Добавить встречу</el-button>
  </div>
</template>

<script lang="ts" src="./home.ts"></script>

<style lang="scss"></style>
