<template>
  <div class="add-post">
    <h1 class="title">Новая встреча</h1>
    <div class="mb-5">
      <el-steps :active="step">
        <el-step title="Шаг 1" description="Введите название и выберите время"></el-step>
        <el-step title="Шаг 2" description="Выберите фасилитатора"></el-step>
        <el-step v-if="availableUsers.length <= 2" title="Шаг 3" description="Выберите секретаря и добавьте встречу"></el-step>
        <el-step v-else title="Шаг 3" description="Выберите секретаря"></el-step>
        <el-step v-if="availableUsers.length > 2" title="Шаг 4" description="Выберите участников и добавьте встречу"></el-step>
      </el-steps>
    </div>
    <div v-if="step === 0" class="row">
      <div class="col-12 col-lg-3 mb-4">
        <el-input class="w-100" v-model="form.title" placeholder="Тема"></el-input>
      </div>
      <div class="col-12 col-lg-3 mb-4">
        <el-date-picker class="w-100" v-model="form.date" :picker-options="datePickerOptions"
                        placeholder="Дата"></el-date-picker>
      </div>
      <div class="col-12 col-lg-3 mb-4">
        <el-time-select
                class="w-100"
                placeholder="Начало"
                v-model="form.period.start"
                @change="changeStartTime"
                :picker-options=timePickerOptionsStart>
        </el-time-select>
      </div>
      <div class="col-12 col-lg-3 mb-4">
        <el-time-select
                class="w-100"
                placeholder="Окончание"
                v-model="form.period.end"
                :picker-options=timePickerOptionsEnd>
        </el-time-select>
      </div>
      <div class="col-12">
        <el-button :disabled="!isAvailableSelectors" @click="nextAfterStart">Следующий шаг</el-button>
      </div>
    </div>
    <div v-if="step === 1" class="row">
      <div class="col-12 col-lg-3 mb-4">
        <el-select :key="1" class="w-100" v-model="form.role1" value-key="id" :disabled="!isAvailableSelectors"
                   placeholder="Выберите фасилитатора">
          <el-option
                  v-for="(item, index) in availableUsers"
                  :key="index"
                  :label="item.name"
                  :value="item">
          </el-option>
        </el-select>
      </div>
      <div class="col-12">
        <el-button @click="prevToStart">Предыдущий шаг</el-button>
        <el-button :disabled="!form.role1" @click="next">Следующий шаг</el-button>
      </div>
    </div>
    <div v-if="step === 2" class="row">
      <div class="col-12 col-lg-3 mb-4">
        <el-select :key="2" class="w-100" v-model="form.role2" value-key="id" :disabled="!isAvailableSelectors"
                   placeholder="Выберите секретаря">
          <el-option
                  v-for="(item, index) in optionsRole2"
                  :key="index"
                  :label="item.name"
                  :value="item">
          </el-option>
        </el-select>
      </div>
      <div class="col-12">
        <el-button @click="prevToRole1">Предыдущий шаг</el-button>
        <el-button v-if="availableUsers.length > 2" :disabled="!form.role2" @click="next">Следующий шаг</el-button>
        <el-button v-else type="success" :disabled="!isValidForm" @click="addMeetingBtn">Добавить встречу</el-button>
      </div>
    </div>
    <div v-if="step === 3" class="row" :key="3">
      <div class="col-12 col-lg-3 mb-4">
        <el-select class="w-100" v-model="form.users" value-key="id"  :disabled="!isAvailableSelectors"
                   multiple
                   collapse-tags
                   placeholder="Выберите участников">
          <el-option
                  v-for="(item, index) in optionsOtherUsers"
                  :key="index"
                  :label="item.name"
                  :value="item">
          </el-option>
        </el-select>
      </div>
      <div class="col-12">
        <el-button @click="prevToRole2">Предыдущий шаг</el-button>
        <el-button type="success" :disabled="!isValidForm" @click="addMeetingBtn">Добавить встречу</el-button>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./add-meeting.ts"></script>

<style lang="scss">
  .add-post__input {
    margin-bottom: 20px;
  }

  .add-post__textarea {
    margin-bottom: 30px;
  }
</style>
