<template>
  <div class="users">
    <h1 class="title">Пользователи</h1>
    <div v-if="users && users.length" class="row">
      <div v-for="(user, index) in users" :key="index" class="col-6 col-lg-3 mb-5">
        <card>
          <template>
            <div class="card__title">
              {{user.name}} {{user.surname}}
            </div>
          </template>
        </card>
      </div>
    </div>
    <div v-else class="empty">Пользователей пока нет</div>
    <el-button @click="$router.push('add-user')">Добавить пользователя</el-button>
  </div>
</template>

<script src="./users.ts"></script>

<style lang="scss">

</style>
